<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<title> A category</title>
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"   />
</head>

<body>

	<header>
		<h1>A Category</h1>
	</header>

	<div th:each="category: ${categories}">
		<h2 th:text="${category.name}"></h2>
			<a href="http://localhost:8080/categories">Back to Categories</a>
			<a href="http://localhost:8080/reviews">Reviews</a>

			
<div  th:each="review: ${reviews}">
		<li th:id="reviews">
	<a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
	</li>
		</div>

	</div>






</body>
</html>