<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
	<title>A Review</title>
	<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"   />
</head>

<body>
<h1>Review</h1>


<div th:each= "review: ${reviews}">
<b>
<p>Title:</p>
</b>
	<p th:text ="${review.name}"></p>
	<b>
<p>Category:</p>
</b>
	<p th:text= "${review.categories}"></p>
		<p th:text= "${review.reviewText}"></p>
		<img th:src="${review.imageUrl}"/>

	<a href="http://localhost:8080/reviews">Back to home</a>
</div>

</body>
</html>